body{
    text-align: center;
}

.scoreBoard{
    margin: auto;
    width:700px;
    height:100px;
    border: 1px solid black;
}

.total{
    position: relative;
    font-size:57px;
    color: white;
    z-index: 3;
    top: -29rem;
}

#player1 {
    position:relative;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: 1px solid black;
    top: 20rem;
    left: 3rem;
}

#player2 {
    position:relative;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: 1px solid black;
    top: 6rem;
    left: 11rem;
}

#player3 {
    position:relative;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: 1px solid black;
    top: 0rem;
    left: -11rem;
}

#player4 {
    position:relative;
    width: 100px;
    height: 100px;
    border-radius: 25px;
    border: 1px solid black;
    top: -14rem;
    left: -3rem;
}

#table{
    width: 300px;
    height: 300px;
    border-radius: 150px;
    background-color: black;
    margin: 150px auto;
}

#p1Card{
    position: relative;
    top: 8rem;
    left: 13rem;
    border: 1px solid black;
}

#p2Card{
    position: relative;
    top: -12rem;
    left: -27rem;
    border: 1px solid black;
}

#p3Card{
    position: relative;
    top: -31rem;
    left: 13rem;
    border: 1px solid black;
}

#p4Card{
    position: relative;
    top: -23rem;
    left: 27rem;
    border: 1px solid black;
}